services:
  flask-interface:
    build:
      context: .
      dockerfile: flask-interface/Dockerfile.flask_interface
    container_name: flask-interface
    depends_on:
      - janusgraph
    ports:
      - "4300:4300"
    networks:
      padloper-network:
        ipv4_address: 172.20.0.20

  web-interface:
    build: 
      context: .
      dockerfile: web-interface/Dockerfile.web_interface
    container_name: web-interface
    ports:
      - "4301:4301"
    networks:
      padloper-network:
        ipv4_address: 172.20.0.21

  oauth-proxy-server:
    build: 
      context: .
      dockerfile: oauth-proxy-server/Dockerfile.oauth
    container_name: oauth-proxy-server
    ports:
      - "4000:4000"
    networks:
      padloper-network:
        ipv4_address: 172.20.0.22
  cassandra:
    image: cassandra:3.11
    container_name: cassandra
    ports:
      - "9042:9042"
    environment:
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    volumes:
      - cassandra_data:/var/lib/cassandra
    networks:
      padloper-network:
        ipv4_address: 172.20.0.23

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - cluster.name=janusgraph
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      padloper-network:
        ipv4_address: 172.20.0.24

  janusgraph:
    build:
      context: .
      dockerfile: Dockerfile.janusgraph
    container_name: janusgraph
    ports:
      - "8182:8182"
    environment:
      - storage.backend=cassandra
      - storage.hostname=cassandra
      - index.search.backend=elasticsearch
      - index.search.hostname=elasticsearch
    depends_on:
      - cassandra
      - elasticsearch
    volumes:
      - janusgraph_data:/var/lib/janusgraph
    networks:
      padloper-network:
        ipv4_address: 172.20.0.25

volumes:
  cassandra_data:
  es_data:
  janusgraph_data:


networks:
  padloper-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24